extends ../../layout

block content
  .container
    if user.admin
      .main
        h2=title
        if students  
          table
            tr
              th: h4 Cohort
              th: h4 Full Name
              th: h4 Tel
              th: h4 Email
              th: h4 Address
              each student in students
                tr
                  each account in accounts
                    if account._id.toString() === student.accountId
                      - var cl = account.cohort.split(" ")[1][0]
                      td(class="circle" + cl): p=account.cohort.split(" ")[0][0] + account.cohort.split(" ")[1][0]
                  td: p=student.firstName + " " + student.lastName
                  td: p=student.phone
                  td: p=student.email
                  td: p=student.street +" - "+ student.city +", "+ student.state +" "+ student.zip
    else
      h4 You have no right to this page
