extends ../../layout

block menu
  li: a(href='/accounts') Accounts
  li: a(href='/students') Students
  li.selectedMenu.inner: a(href="#")=student.firstName

block content
  .container
    if user.admin
      if student
        .main
          h4: a(class="togglePayment" href="#") <i class="fa fa-plus"></i> Payment
          br
          .paymentForm
            .cashCheckForm
              form(name="payment" action="/payments/" + student._id method="post")
                input(type="hidden" class="id" name="_id" value="")
                h4 Amount
                input(type="number" class="amount" name="amount" min="0" max=bal step="50" value=bal placeholder="Amount")  
                .cash
                  input(type="radio" class="cash" name="type" value="cash" checked) 
                  h4 cash
                .check
                  input(type="radio" class="check" name="type" value="check")
                  h4 check
                .card
                  input(type="radio" class="card" name="type" value="card")
                  h4 card
                br
                input(class="addPayment button" type="submit" valur="Add") 
            .cardForm
              form(action='/payments/stripe/' + student._id, method='POST')
                script.stripe-button(src='https://checkout.stripe.com/checkout.js', data-key='pk_test_CDmehItS5Rkr1Yhc9mtpnJg4', data-amount='2000', data-name='Demo Site', data-description='2 widgets ($20.00)')


                
          h2=student.firstName + "'s account"
          if payments
            table(class="paymentList")
              tr
                th: h4 Date
                th: h4 Amount
                th: h4 Type
                th: h4 Update
                each payment in payments
                  tr(data-paymentId=payment._id)
                    td: p=moment(payment.updatedAt).format("DD/MM/YYYY")
                    td: p="$" + payment.amount.toFixed(2)
                    td: p=payment.type
                    td: p.editPayment
                      a(href="/payments/" + payment._id ): <i class="fa fa-eye"></i>
                      a(href="#") |
                      a.removePayment(href="#" data-id=payment._id, data-studentId=payment.studentId): <i class="fa fa-trash-o"></i>
            
            br
            br
            p="Student :" + student.firstName + student.lastName 
            p: a(href="/accounts/"+student.accountId)="Batch: " + account.cohort
            p="Phone : "+ student.phone
            p="Email : "+ student.email
            p="Address : " + student.street + " " + student.city + ", " + student.state.toUpperCase() + " " + student.zip
            br
            h2="Balance : $" + bal.toFixed(2)
            br
    else
      h4 You have no right to this page
