extends ../../layout

block content
  .container
    .main
      h4: a(class="toggleExpense" href="#") <i class="fa fa-plus"></i> Expense
      br
      .modal-background
        .addExpense
          form(name="expense" action="/expenses" method="post")
            input(class="login-field" type="hidden" class="accountId" name="accountId" value=account._id)
            input(class="login-field" type="text" name="description" placeholder="Description" required) 
            input(class="login-field" type="number" name="amount" required) 
            input(class="login-field" type="date" class="date" name="date" placeholder="date" required) 
            textarea(class="login-field" type="textarea" class="note" name="note" placeholder="note" required) 
            input(class='button' type='submit' value='Add') 
      h2= "Expenses for " + title     
      if expenses.length > 0 
        table(class="expenseList")
          tr
            th: h4 Description
            th: h4 Amount
            th: h4 Date
            th: h4 Note
            th: h4 Edit/Remove
            each expense in expenses
              tr(data-expenseId=expense._id)
                td: p=expense.description
                td: p=expense.amount
                td: p=expense.date
                td: p=expense.note
                td: p.editRemove
                  a(href="/accounts/" + expense._id ): <i class="fa fa-eye"></i>
                  a(href="#") |
                  a.removeStudent(href="#" data-id=expense._id): <i class="fa fa-trash-o"></i>
      else
        h4 There are no expenses made
