p Hi #{name},
p Your previous #{oldType} payment of $#{oldAmount} made on #{oldDate} is now updated to a #{newType} payment of $#{newAmount} on #{newDate}.

span SuperQA team
br
span SuperQA Software Testing Bootcamp 
br
span 427 Grand ave 
br
span Oakland, CA. 94610
