extends ../layout

block menu
  li.selectedMenu: a(href='/accounts') Accounts
  li: a(href='/students') Students
  
block content
  .container
    if user.admin
      .main.accounts
        h2 SuperQa Internal 
          span.feed feed page
        br
        ul.top
          each feed in feeds
            li
              .mainLine
                a(href="#")=feed.user
                span="  " + feed.message
                span.fromDate=moment(feed.updatedAt).fromNow()
              .secondLine=feed.detail
      .rightSideBar
        .searchBar
          .searchBarContainer
            .search
              input(type="text" placeholder="Filter by account")
            .newAccountButton.toggleAccount: a(href="#") New account
          .newAccount
            form(action='/accounts', method='post')
              input(class="login-field" type="hidden" class="id" name="_id" value="")
              input(class="login-field" type='text', class="cohort" name='cohort', placeholder=' Cohort name', autofocus=true, required)
              input(class="login-field" type='date', class="startDate" name='startDate', required)
              input(class="login-field" type='date', class="endDate" name='endDate', required)
              input(class="addAccount button" type='submit' value="Create Account")
        if accounts
          ul.cohortMenu 
            each account in accounts 
              li(data-accountId=account._id)
                a(href="accounts/"+account._id)
                  span(class="square")=account.cohort.split(" ")[0][0].toUpperCase() 
                  span=account.cohort
                  span.fromDate=moment(account.updatedAt).fromNow()
    else
      h4 You have no right to this page
