extends ../layout

block menu
  li.selectedMenu: a(href='/accounts') Accounts
  li: a(href='/students') Students
  
block content
  .container
    if user.admin
      .main
        h4: a.toggleAccount(href='#') <i class="fa fa-plus"></i> Account 
        br
        .newAccount
          form(action='/accounts', method='post')
            input(class="login-field" type="hidden" class="id" name="_id" value="")
            input(class="login-field" type='text', class="cohort" name='cohort', placeholder=' Cohort name', autofocus=true, required)
            input(class="login-field" type='date', class="startDate" name='startDate', required)
            input(class="login-field" type='date', class="endDate" name='endDate', required)
            input(class="addAccount button" type='submit' value="Create Account")
        h2=title
        if accounts  
          table(class="accountList")
            tr
              th: h4 Cohort
              th: h4 Start
              th: h4 End
              th: h4 Last Updated
              th: h4 Expense
              th: h4 Update
              each account in accounts
                tr(data-accountId=account._id)
                  - var cl = account.cohort.split(" ")[1] ? account.cohort.split(" ")[1][0] : 0
                  - var suf = account.cohort.split(" ")[1] ? account.cohort.split(" ")[1][0] : account.cohort.split(" ")[0][1].toUpperCase()
                  td(class="circle" + cl): p: a(href="accounts/"+account._id)=account.cohort.split(" ")[0][0].toUpperCase() + suf
                  td: p=moment(account.startDate).format("DD/MM/YYYY")
                  td: p=moment(account.endDate).format("DD/MM/YYYY")
                  td: p=moment(account.updatedAt).fromNow()
                  td: p: a(href="expenses/" + account._id) Expense
                  td: p.editAccount
                    a(href="/accounts/" + account._id ): <i class="fa fa-eye"></i>
                    a(href="#") |
                    a.removeAccount(href="#" data-id=account._id): <i class="fa fa-trash-o"></i>
    else
      h4 You have no right to this page
